body {
    background-color: #ffffff;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h3 {
    color: rgb(96, 191, 255);
}

h1, h2, h4, h5, h6 {
    text-align: center;
}

form, input, label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}